#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export PKG_CONFIG_PATH=/opt/openrobots/lib/pkgconfig:$PKG_CONFIG_PATH
CFLAGS = -O3 -DNDEBUG
CXXFLAGS = -O3 -DNDEBUG
LD_LIBRARY_PATH += /opt/openrobots/lib
export LD_LIBRARY_PATH

.PHONY: override_dh_strip
override_dh_strip:
        dh_strip --dbg-package=libdg-middleware-dbg

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=RELEASE -DGENERATE_DOC=ON -DCMAKE_INSTALL_PREFIX=/opt/openrobots

# Remove useless ldconfig call.
override_dh_makeshlibs:
	dh_makeshlibs --
	rm debian/libdg-middleware1.2.1.postinst.debhelper
	rm debian/libdg-middleware1.2.1.postrm.debhelper


# FIXME: this is only necessary because some binaries are linked against
# plug-ins.
# Teach dh_shlibdeps where the plug-in are located.
override_dh_shlibdeps:
	LD_LIBRARY_PATH=/opt/openrobots/lib:/opt/openrobots/lib/plugin:/usr/lib/libfakeroot/:/usr/lib64/libfakeroot:/usr/lib32/libfakeroot dpkg-shlibdeps \
	-Tdebian/libdg-middleware1.2.1.substvars \
	debian/libdg-middleware1.2.1/opt/openrobots/bin/dg-test_corba_shell \
	debian/libdg-middleware1.2.1/opt/openrobots/bin/dg-coshell \
	debian/libdg-middleware1.2.1/opt/openrobots/lib/plugin/distant-shell.so.1.2.1 \
	debian/libdg-middleware1.2.1/opt/openrobots/lib/plugin/server-abstract.so.1.2.1 \
	debian/libdg-middleware1.2.1/opt/openrobots/lib/plugin/exception-dgm.so.1.2.1 \
	debian/libdg-middleware1.2.1/opt/openrobots/lib/plugin/server-command.so.1.2.1
%:
	dh  $@
